body{
	font-family: 'Titillium Web', sans-serif;
	color: #000;
	background-color: #dedede;
}

.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.preload {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/pre-loader-smoking.gif') center no-repeat #FCFEFC;
}

.social-buttons {
	text-align: center;
}

.social-buttons i{
	font-size: 32px;
	margin: 4px 6px;
	color: rgb(0, 0, 0);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.text-homepage-complete{
	margin: 0 0 20px 0;
	color: white;
}

.title{
	text-transform: capitalize;
	color: #000;
	font-weight: 900;
	text-align: center;
}

.logo-img{
	width: 40%;
	padding: 1px;
	margin: 20px auto;
}

.logo-img-vert{
	width: 25%;
}

.technologies-known{
	cursor: default !important;
}

.website-buttons{
	opacity: 1;
	color: rgb(253, 253, 253) !important;
	background-color: #0D252F !important;
}

.text-left{
	text-align: left !important;
}

.profile-image{
	margin-left: auto;
	margin-right: auto;
}

.cursor-pointer{
	cursor: pointer;
}

.header-box {
	background: rgba(0, 0, 0, 0.1);
}

#publicationsTab a{
	text-decoration: underline;
    color: #000;
    cursor: pointer;
}

.job-span {
	display: block;
    text-align: center;
    padding: 10px 0px;
}
.job-span h2 {
	margin-bottom: 0px;
	text-align: center;
}

.experience_box {
	padding-bottom: 20px;
}

#publicationsTab div {
	cursor: pointer;
}

#publicationsTab div span {
	text-decoration: underline;
}
