body{
    font-family: 'Titillium Web', sans-serif;
    color: #000;
    background-color: #dedede;
}

.social-buttons {
    text-align: center;
}

.social-buttons i{
    font-size: 32px;
    margin: 4px 6px;
    color: rgb(0, 0, 0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.text-homepage-complete{
    margin: 0 0 20px 0;
    color: white;
}

.title{
    text-transform: capitalize;
    color: #000;
    font-weight: 900;
    text-align: center;
}

.logo-img{
    width: 40%;
    padding: 1px;
    margin: 20px auto;
}

.logo-img-vert{
    width: 25%;
}

.technologies-known{
    cursor: default !important;
}

.website-buttons{
    opacity: 1;
    color: rgb(253, 253, 253) !important;
    background-color: #0D252F !important;
}

.text-left{
    text-align: left !important;
}

.profile-image{
    margin-left: auto;
    margin-right: auto;
}

.cursor-pointer{
    cursor: pointer;
}

.header-box {
    background: rgba(0, 0, 0, 0.1);
}

#publicationsTab a{
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

.job-span {
    display: block;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 5px;
}
.job-span h2 {
    margin-bottom: 0px;
    text-align: center;
}
.job-span h2 a {
    color: black;
}
.job-span h2 a:hover {
    color: black;
    text-decoration: underline;
}

.experience_box {
    padding-bottom: 20px;
}

.experience_box .experience_subheading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #c7c7c7;
    color: black;
}

.experience_box .experience_subheading h2 {
    margin: 0;
    color: black;
    padding: 2%;
    text-align: center;
}

#publicationsTab div {
    cursor: pointer;
}

#publicationsTab div span {
    text-decoration: underline;
}
