body {
    font-family: 'Open Sans', sans-serif;
    background-color: #dedede;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.intro-box {
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
    width: -webkit-fill-available;
    font-size: 20px;
    padding: 2%;
}

.intro-box .intro-heading {
    font-size: 28px;
    font-weight: 900;
}

.intro-box .social-buttons {
    margin-top: 1%;
    padding: 0;
}

.intro-box .social-buttons i {
    font-size: 28px;
    margin: 0 2px;
    color: rgb(0, 0, 0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.section-header {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 4px;
    font-weight: 900;
    text-align: center;
}

.publication-list li,
.projects-list li {
    background-color: transparent;
    font-size: 14px;
}

#view-all-publications-btn {
    cursor: pointer;
    font-size: 13px;
}